---
const currentYear = new Date().getFullYear();
---

<footer
  class="opacity-80 m-4 min-[375px]:pl-4 md:pl-0 mt-8 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center"
>
  <div
    class="rounded-lg w-full max-w-screen-xl mx-auto flex flex-col md:flex-row md:items-center md:justify-between py-4"
  >
    <div class="flex justify-center md:justify-start mb-4 md:mb-0">
      <span class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90">
        © {currentYear}
        <a href="https://github.com/JayGhz" class="hover:underline">JayGhz</a>
      </span>
    </div>
    <ul
      class="flex flex-wrap justify-center md:justify-end items-center text-sm font-medium dark:text-white/90 space-x-4 md:space-x-6"
    >
      <li>
        <a href="/#sobre-mi" class="hover:underline">Sobre mí</a>
      </li>
      <li>
        <a
          id="contacto"
          href="mailto:qjhair530@gmail.com"
          class="hover:underline"
          >Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>

